<div class="jumbotron">
    <h1>d3 charts demo</h1>
</div>

<div ng-app="testApp">
    <div ng-controller="d3Ctrl">

            <div class="line-chart">
                <h4>Line Charts</h4>
                <nvd3-line-chart
                    data="lineChartData"
                    id="line-chart"
                    showXAxis="true"
                    showYAxis="true"
                    tooltips="true"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    interactive="true">
                    <svg></svg>
                </nvd3-line-chart>
            </div>

            <div class="stacked-area-chart">
                <h4>Stacked Area Charts</h4>
                <nvd3-stacked-area-chart
                    data="stackChartData"
                    id="stacked-area-chart"
                    showXAxis="true"
                    showYAxis="true"
                    xAxisTickFormat="xAxisTickFormatFunction()"
                    height="350">
                    <svg></svg>
                </nvd3-stacked-area-chart>
            </div>

            <div class="multi-bar-chart">
                <h4>Multi Bar Charts</h4>
                <nvd3-multi-bar-chart
                    data="stackChartData"
                    id="multi-bar-chart"
                    height="350"
                    showXAxis="false"
                    showYAxis="true">
                    <svg></svg>
                </nvd3-multi-bar-chart>
            </div>

            <div class="scatter-chart">
                <h4>Scatter Charts</h4>
                    <nvd3-scatter-chart
                        data="scatterChartData"
                        id="scatter-chart"
                        height="400"
                        yAxisTickFormat="yAxisTickFormatFunction()">
                    <svg></svg>
                    </nvd3-scatter-chart>
            </div>

            <div class="pie-chart">
                <h4>Pie Charts</h4>
                <nvd3-pie-chart
                    data="pieChartData"
                    id="pie-chart"
                    height="500"
                    x="xFunction()"
                    y="yFunction()"
                    showLabels="true"
                    tooltips="true"
                    donut="true"
                    noData="Data aint here">
                    <svg></svg>
                </nvd3-pie-chart>
            </div>
    </div>
</div>
