<div class="jumbotron">
    <h1>Sample Treeview</h1>
</div>

<div ng-app="testApp">
    <div ng-controller="MainCtrl">
        <div class="row">

        <div class="well">
            <h3>Static Sample</h3>
            <div
                data-angular-treeview="true"
                data-tree-id="abc"
                data-tree-model="treedata"
                data-node-id="id"
                data-node-label="label"
                data-node-children="children" >
            </div>
        </div>

        <div class="well">
            <h3>Dynamic Recursive Sample</h3>
                <ul>
                    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
                </ul>
        </div>

        {{tree}}
    </div>
    </div>
</div>

<script type="text/ng-template"  id="tree_item_renderer.html">

    <div class="well">

    <div class="input-group">
        <span class="input-group-addon">Content</span>
        <input type="text" class="form-control" ng-model="currentNode.content">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Question</span>
        <input type="text" class="form-control" ng-model="currentNode.question">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon">Tip</span>
        <input type="text" class="form-control" ng-model="currentNode.tip">
    </div>
    <br>

    <button ng-click="add(data)">Add Option</button>
    <button ng-click="delete(data)" ng-show="data.nodes.length > 0">Delete Options</button>


    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</div>
</script>
